html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  background-color: var(--color-white);
}

h1 {
  font-size: 6.25rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.875rem;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
  transition: box-shadow 0.2s;
}
