/* =========================
   PROMO BAR
   ========================= */
.promo-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  background-color: var(--color-primary);
}

.promo-bar__text {
  font-size: 1rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bd);
  color: var(--color-white);
}

.promo-bar__highlight {
  background-color: var(--color-purple);
  border-radius: 0.25rem;
  padding: 0 0.25rem;
}

.promo-bar__coupon {
  font-weight: var(--font-weight-reg);
  font-style: italic;
}

/* =========================
   HEADER MAIN
   ========================= */
.header {
  position: sticky;
  z-index: 1000;
  padding: 1.125rem 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.16);
  width: 100%;
}

.header__container {
  max-width: 78.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Search */
.header__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 37.125rem;
}

.header__search-input {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-sb);
  color: var(--color-black);
  width: 100%;
  padding: 0.75rem 1.5rem;
  padding-right: 3rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.625rem;
  outline: none;
  transition: border-color 0.2s;

  &::placeholder {
    font-size: 0.875rem;
    font-weight: var(--font-weight-sb);
    color: var(--color-black);
  }
}

.header__search-button {
  position: absolute;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__search-icon {
  width: 1.125rem;
  height: 1.125rem;

  & path {
    fill: var(--color-black);
    transition: fill 0.2s;
  }
}

.header__search-button:hover .header__search-icon path {
  fill: var(--color-primary);
}

/* User/Cart Actions */
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__user-icon,
.header__cart-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--color-primary);
  }
}

.header__user-info {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-sb);
}

.header__cart-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header__cart-count {
  position: absolute;
  top: -0.5625rem;
  right: -0.5625rem;
  width: 1.3125rem;
  height: 1.3125rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: var(--font-weight-bd);
  transition: border 0.2s;
  border: 1px solid transparent;
}

.header__cart-wrapper:hover .header__cart-count {
  border: 1px solid var(--color-white);
}

/* =========================
   HEADER NAVIGATION
   ========================= */
.header__nav {
  margin-top: 1.375rem;
}

.header__nav-list {
  display: flex;
  font-size: 0.875rem;
  gap: 2.8125rem;
  flex-wrap: wrap;
}

.header__nav-item--highlight > a {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bd);
  color: var(--color-black);
  transition: color 0.2s;
}

.header__nav-item--highlight > a:is(:hover, [aria-expanded="true"]) {
  color: var(--color-primary);
}

.header__nav-item--highlight
  > a:is(:hover, [aria-expanded="true"])
  .header__nav-menu-icon
  line {
  stroke: var(--color-primary);
}

/* Nav Icons */
.header__nav-menu-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;

  & line {
    stroke: var(--color-black);
    transition: stroke 0.2s;
  }
}

.header__nav-item--highlight:is(:hover, [aria-expanded="true"])
  .header__nav-menu-icon
  line {
  stroke: var(--color-primary);
}

.header__nav-item a {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-reg);
  color: var(--color-black);
  transition: color 0.2s;

  &:hover {
    color: var(--color-primary);
  }
}

/* =========================
   DROPDOWN MENU
   ========================= */
.dropdown-menu {
  width: 78.75rem;
  height: 20.5625rem;
  background-color: var(--color-white);
  box-shadow: 0 0.25rem 0.5rem -0.0625rem rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0;
  padding: 0;
  top: 1rem !important;
}

.dropdown-menu .container,
.dropdown-menu .row {
  height: 100%;
}

/* Departments */
.header__departments-column {
  overflow-y: auto;
  background-color: var(--color-gray-25);
  height: 100%;
  padding: 1rem 0;
}

.nav .department-link {
  font-weight: var(--font-weight-reg);
  color: var(--color-gray-900);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.2s;
}

.nav .department-link:hover {
  color: var(--color-primary);
}

.nav .department-link.active {
  font-weight: var(--font-weight-bd);
  color: var(--color-primary);
  letter-spacing: -0.02rem;

  & .department-link__chevron path {
    fill: var(--color-primary);
  }
}

.nav .department-link:hover .department-link__chevron path {
  fill: var(--color-primary);
}

.department-link__chevron {
  width: 0.3125rem;
  height: 0.5625rem;
  margin-left: 0.5rem;

  & path {
    fill: var(--color-gray-900);
    transition: fill 0.2s;
  }
}

/* Categories */
.header__categories-column {
  padding: 1.5rem;
}

.header__department-categories {
  display: none;
}

.header__department-categories.active {
  display: block;
}

.header__department-categories h6 {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bd);
  color: var(--color-primary);
}

.header__department-categories a {
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-reg);
  color: var(--color-gray-700);
  display: block;
  margin: 1rem 0;
  transition: color 0.2s;
}

.header__department-categories a:hover {
  color: var(--color-primary);
}

/* Call to Action */
.header__cta {
  display: flex;
  align-items: center;
  color: var(--color-white);
  padding: 1.25rem 0 1.25rem 3.5rem;
  height: 100%;
  background-color: var(--color-white);
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2.6875rem 5.0625rem 6.125rem 1.6875rem;
  z-index: 100;
}

.cta__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-reg);
  color: var(--color-white);
  line-height: 1.6875rem;
  margin-bottom: 2.125rem;
  position: relative;
  z-index: 10;

  & span {
    display: block;
  }
}

.cta__highlight {
  font-weight: var(--font-weight-bd);
}

.cta__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14.75rem;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.75) -20.45%,
    rgba(0, 0, 0, 0) 138.31%
  );
  z-index: 1;
  border-radius: 0.5rem;
}

.cta__content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.75rem;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 0.5rem;
}

.cta__button {
  display: inline-block;
  font-size: 0.875rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bd);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  text-transform: uppercase;
  text-align: center;
  padding: 0.875rem 1.75rem;
  border-radius: 0.625rem;
  position: relative;
  z-index: 10;
  transition: background-color 0.8s, color 0.4s;
}

.cta__button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--color-primary);
}

/* =========================
   MEDIA QUERIES
   ========================= */
@media (max-width: 1260px) {
  .header__nav-list {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .promo-bar {
    height: 3.25rem;
  }

  .promo-bar__text {
    text-align: center;
    font-size: 0.875rem;
  }

  .header__user-wrapper,
  .header__nav-item,
  .header__nav-categories-text {
    display: none;
  }

  .header__nav-menu-icon {
    width: 1.375rem;
    height: 1.375rem;

    & line {
      stroke-width: 1;
    }
  }
}
