/* ===============================
   HERO
   =============================== */
.hero {
  height: 31.875rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-50);
}

.hero__content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero__image-wrapper {
  display: flex;
  height: 100%;
}

.hero__image {
  object-fit: cover;
}

.hero__title,
.hero__subtitle {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bd);
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
}

.hero__title {
  font-size: 6.25rem;
}

.hero__title-light {
  font-weight: var(--font-weight-lt);
}

.hero__subtitle {
  font-size: 1.5625rem;
  letter-spacing: 0.4688rem;
  color: var(--color-primary);
  text-align: center;
  margin-top: 0.75rem;
}

.hero__highlight {
  display: block;
  font-size: 3.75rem;
  letter-spacing: normal;
  margin-top: 0.75rem;
}

/* ===============================
   CAROUSEL
   =============================== */

/* =========================
   MEDIA QUERIES
   ========================= */
@media (max-width: 1260px) {
  .hero {
    height: 25.375rem;
  }

  .hero__content {
    overflow: visible;
  }

  .hero__image-wrapper {
    position: relative;
    left: -6rem;
  }

  .hero__text {
    position: relative;
    left: -4rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__subtitle {
    font-size: 1.125rem;
  }

  .hero__highlight {
    font-size: 3.125rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 19.125rem;
  }

  .hero__image-wrapper {
    left: -9rem;
  }

  .hero__text {
    left: -6rem;
  }

  .hero__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .hero__title-light {
    display: block;
  }

  .hero__subtitle {
    font-size: 0.75rem;
  }

  .hero__highlight {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .hero__image-wrapper {
    left: -7rem;
  }

  .hero__text {
    left: -9rem;
  }
}
