/* ===============================
   HERO
   =============================== */
.hero {
  height: 31.875rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-50);
}

.hero__content {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero__image-wrapper {
  height: 100%;
}

.hero__image {
  object-fit: cover;
}

.hero__title,
.hero__subtitle {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bd);
  text-transform: uppercase;
}

.hero__title {
  font-size: 6.25rem;
}

.hero__title-light {
  font-weight: var(--font-weight-lt);
}

.hero__subtitle {
  font-size: 1.5625rem;
  letter-spacing: 0.4688rem;
  color: var(--color-primary);
  text-align: center;
}

.hero__highlight {
  display: block;
  font-size: 3.75rem;
  letter-spacing: normal;
}
